<!-- Somethin went wrong page -->
<div class="background_img">
    <div class="defalut_page">
        <div class="container  position-relative">
            <div class="col-md-8 m-auto defalut_content">
                <div class="error_page">
                    <img src="assets/images/svg_img/went-wrong-img.svg" class="img-fluid">
                    <div class="col-md-11">
                        <h6 class="opps"> Oops! </h6>
                        <h4>Something went wrong</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore .</h5>
                        <button type="button" class="default_btn" (click)="reloadPage()">
                            Reload page
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>