<!-- Plans -->
<div class="table_container content d-flex flex-column justify-content-between h-100" data-number="13">
    <div>
        <div class="Officer_table">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="fs-20 fw-600 dark mb-0">FAQ's</h4> 
                <button class="select-btn gap_6" data-bs-target="#add-modal" data-bs-toggle="modal" *appHasPermission="{ title: permissionTitle.ORGANIZATIONS, accessType: permissionType.CREATE }"
                    (click)="clearObject()"><img src="assets/images/svg_img/plus.svg">Add
                    FAQ</button>
            </div>
        </div>

        <div class="table-responsive add-table-data">
            <table class="table mb-0" id="dtHorizontalExample" cellspacing="0" width="100%">
                <thead>
                    <tr class="table_heading">
                        <th scope="col" class="fs-14 fw-500 theading" style="width:30%;">Title</th>
                        <th scope="col" class="fs-14 fw-500 theading" style="width:33%;">Description</th>
                        <th scope="col" class="fs-14 fw-500 theading" style="width:10%;">Action</th>
                    </tr>
                </thead>
                <tbody class="bg_light">
                    <tr *ngFor="let obj of faqList">
                        <td class="fs-14 fw-500 info">{{obj.title}}</td>
                        <td class="fs-14 fw-500 info">
                            <div [ngClass]="{ 'truncate': !(obj.id==id) , 'expanded': obj.id==id }">
                                <div>
                                    {{ (obj?.description?.length || 0) <= 150 ? obj.description : (obj.description |
                                        slice: 0: 150) + '...' }} </div>
                                        <div>
                                            <a href="javascript:void(0)" (click)="setId(obj.id)"  *ngIf="obj.description && obj.description.length > 150">
                                                {{ (obj.id==id ) ? 'Show Less' : 'Show More' }}
                                            </a>
                                        </div>
                                </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center gap-3">
                                <a data-bs-target="#edit-modal" data-bs-toggle="modal" (click)="setFaq(obj)" *appHasPermission="{ title: permissionTitle.ORGANIZATIONS, accessType: permissionType.UPDATE }"><img
                                        src="assets/images/svg_img/pencil.svg" class="add_icons" ></a>
                                <a (click)="faqId=obj.id"><img src="assets/images/svg_img/Trash.svg"  *appHasPermission="{ title: permissionTitle.ORGANIZATIONS, accessType: permissionType.DELETE }"
                                        data-bs-target="#delete-modal" data-bs-toggle="modal"></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tr *ngIf="faqList.length==0 &&(loaderService.isDataLoaded |async)">
                    <td colspan="6">
                         <div class="table-pagination page-nav empty" *ngIf="faqList.length==0">
<h4 class="primary mb-0 fs-26 fw-600">No FAQs available.</h4>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- pagination -->
</div>



<div class="modal fade" id="add-modal" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" aria-modal="true"
    role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 justify-content-center">

            </div>
            <div class="modal-body p-0">
                <form [formGroup]="faqForm">
                    <div class="mb-4">
                        <h3 class="theading fs-18 fw-500 mb-3">Add FAQ</h3>
                        <div class="">
                            <div class="col-md-12 mb-3 ps-0 px-2">
                                <label for="" class="black fs-15 fw-400 mb-2">Title</label>
                                <input type="text" class="form-control profile_edit" [(ngModel)]="faq.title"
                                    name="title" formControlName="title" placeholder="Enter Title">
                                <div class="error"
                                    *ngIf="faqForm.get('title')?.hasError('required') && faqForm.get('title')?.touched ">
                                    <p>{{constant.INVALID_FIELD}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3 ps-0 px-2">
                                <label for="" class="black fs-15 fw-400 mb-2">Description</label>
                                <textarea class="form-control profile_edit" [(ngModel)]="faq.description"
                                    name="description" formControlName="description" id="exampleFormControlTextarea1"
                                    rows="3" placeholder="Enter Description"></textarea>

                                <div class="error"
                                    *ngIf="faqForm.get('description')?.hasError('required') && faqForm.get('description')?.touched ">
                                    <p>{{constant.INVALID_FIELD}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer p-0">
                <div class="gap_20 d-flex">
                    <button class="btn_lg2 fs-16 fw-500 br_10" data-bs-dismiss="modal" aria-label="Close"
                        id="add-modal-close">Cancel</button>
                    <button class="btn_lg fs-16 fw-500 br_10" (click)="addFaq()">
                        <div class="spinner-border text-light" *ngIf="loading" role="status"></div>
                        {{loading?'':'Add'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-modal" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" aria-modal="true"
    role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 justify-content-center">

            </div>

            <form [formGroup]="faqForm">
                <div class="modal-body p-0">
                    <div class="mb-4">
                        <h3 class="theading fs-18 fw-500 mb-3">Edit FAQ</h3>
                        <div class="">
                            <div class="col-md-12 mb-3 ps-0 px-2">
                                <label for="" class="black fs-15 fw-400 mb-2">Title</label>
                                <input type="text" class="form-control profile_edit" [(ngModel)]="faq.title"
                                    name="title" formControlName="title" placeholder="Enter Title">
                                <div class="error"
                                    *ngIf="faqForm.get('title')?.hasError('required') && faqForm.get('title')?.touched ">
                                    <p>{{constant.INVALID_FIELD}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3 ps-0 px-2">
                                <label for="" class="black fs-15 fw-400 mb-2">Description</label>
                                <textarea class="form-control profile_edit" [(ngModel)]="faq.description"
                                    name="description" formControlName="description" id="exampleFormControlTextarea1"
                                    placeholder="Enter Description" rows="3"></textarea>
                                <div class="error"
                                    *ngIf="faqForm.get('description')?.hasError('required') && faqForm.get('description')?.touched ">
                                    <p>{{constant.INVALID_FIELD}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <div class="modal-footer p-0">
                <div class="gap_20 d-flex">
                    <button class="btn_lg2 fs-16 fw-500 br_10" data-bs-dismiss="modal" id="edit-modal-close"
                        aria-label="Close">Cancel</button>
                    <button class="btn_lg fs-16 fw-500 br_10" (click)="updateFaq()">
                        <div class="spinner-border text-light" *ngIf="loading" role="status"></div>
                        {{loading?'':'Update'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-delete-modal (onDelete)="deletFaq()" [isloading]="loading"></app-delete-modal>