<div class="background_img">
    <!-- errow -->
    <div class="defalut_page">
        <div class="container  position-relative">
            <img src="assets/images/svg_img/error1.svg" class="error_left_img">
            <img src="assets/images/svg_img/error2.svg" class="error_right_img">
            <div class="col-md-8 m-auto defalut_content">
                <div class="error_page">
                    <h2>ERROR</h2>
                    <h3>404</h3>
                    <h4>This page is outside of the universe</h4>
                    <h5>The webpage you are attempting to reach either does not exist or has been relocated. Please
                        consider returning to our homepage.</h5>
                    <button type="button" class="default_btn" (click)="navigateToPage()">
                        Go to dashboard
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>