// Wrapper
.wrapper {
  &-column {
    max-width: 40rem;
    height: auto;
    margin: 0 auto;
    padding: 5rem 3rem;
    border-radius: 0.25rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow-medium);
  }
}

// select css
/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

::selection {
  color: #fff;
  background: #4285f4;
}

.select-btn,
li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.select-btn {
  // height: 65px;
  // padding: 0 20px;
  // font-size: 22px;
  // background: #fff;
  // border-radius: 7px;
  justify-content: space-between;
  // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.select-btn i {
  transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}

.wrapper.active .content {
  display: block;
}

.content .search {
  position: relative;
}

.search i {
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}

.search input {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  border: 1px solid #b3b3b3;
}

.search input:focus {
  padding-left: 42px;
  border: 2px solid #4285f4;
}

.search input::placeholder {
  color: #bfbfbf;
}

.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}

//  .options {
//   position: absolute;
//   width: 160px;
//   color: #000;
//   overflow: auto;
//   max-height: 350px;
//   margin-top: 10px;
//   border-radius: 8px;
//   background: #FFF;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   display: none;
//   animation: fadeInDown 0.35s both;
//   right: 36px;
// }
.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.options li {
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}

.options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

/* Support */
.support-box {
  top: 2rem;
  position: relative;
  bottom: 0;
  text-align: center;
  display: block;
}

.b-btn {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.b-btn.patreon i {
  color: orange;
}

.b-btn:hover {
  text-decoration: none;
  font-weight: bold;
}

.b-btn i {
  font-size: 20px;
  color: blue;
  margin-top: 2rem;
}

.search {
  padding: 0;
  border-radius: 10px;
  background: transparent;
  border: 1px solid transparent;
}

.options li {
  font-size: 17px;
}

.page-link.active {
  color: white !important;
  border-radius: 9px;
}

.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #174ea0;
  border-color: var(--bs-pagination-active-border-color);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner[_ngcontent-ng-c3283109954]:before {
  content: "";
  box-sizing: border-box;
  // position: absolute;
  top: 93%;
  left: 72%;
  width: 30px;
  height: 35px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 53%;
  border: 5px solid #ffffff00;
  border-top-color: #000000;
  animation: _ngcontent-ng-c3283109954_spinner 0.8s linear infinite;
  display: flex;
  justify-content: center;
}

.disable {
  pointer-events: none;
  opacity: 83%;
}

.edit_img {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: #6287ff;
  position: absolute;
  bottom: -6px;
  left: 76px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 271;
}

.expanded {
  white-space: normal;
  word-break: break-word;
  overflow: visible;
  display: block;
}
