.text_dark {
  color: black;
}
.page-active {
  color: #fff !important;
  background-color: #174EA0 !important;
  outline: 0;
  box-shadow: none !important;
  border-radius: 6px;
}

.theading {
    color: #667085;
  }
  .remove-focus:focus{
    color: #fff !important;
    background-color: #08080800 !important;
  }