.input-hidden {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -1;
}
.verify-img-preview {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 12px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

.verify-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.bg-verify-img-close {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #fff;
    padding: 3px;
    display: flex;
    border-radius: 50%;
}

.verify-img-close {
    filter: brightness(0) saturate(100%) invert(22%) sepia(23%) saturate(6167%) hue-rotate(204deg) brightness(95%) contrast(88%);
}


