<!-- FORGOT PASSWORD BOX -->
<form [formGroup]="emailFrom" (keyup.enter)="sendOTP()" class="h-100">
    <div class="login-container mx-auto d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <img src="assets/images/svg_img/login-logo.svg" class="img-fluid login_img">
        </div>
      <div class="d-flex flex-column scalable-gap-40-30">
        <div class="d-flex flex-column gap-2">
            <h3 class="dark fs-22 fw-600 mb-0">Forgot password</h3>
            <h4 class="fs-16 fw-500 info mb-0 login_subtitle">Get access to your password by verifying your identity
                through otp with the help of your email address</h4>
        </div>
        <div>
            <div class="position-relative">
                <i class="fi fi-rr-envelope input_icons"></i>
                <input type="email" class="form-control profile_input" formControlName="email" name="email"
                    placeholder="Enter Email" [(ngModel)]="forgetPassword.email">
            </div>
            <div *ngIf="checkFieldValid('email',emailFrom)" class="error validation">
                <p>{{constants.INVALID_FIELD}}</p>
            </div>
        </div>
       <button class=" btn-primary  fs-15 fw-600 w-100  right_menu_toggle " (click)="sendOTP()" [disabled]="isLoading">

            <div class="spinner-border text-light" *ngIf="isLoading" role="status">
                            <span class="sr-only"></span>
                        </div>
                        {{isLoading?'':'Send OTP'}}
        </button>
      </div>
    </div>
</form>