<div class="container px-0 px-sm-2">
    <div class="d-flex flex-column gap-4">
        <!-- Verification Officer Details -->
        <div class="content_box">
            <div class="d-flex justify-content-end align-items-center" *ngIf="verificationOfficer.isDeleted">
                <div class="add_details_btn ">
                    <button class="status_btn rejected_btn">Account Deleted</button>

                </div>
            </div>
            <div class="row gy-4 align-items-center">
                <div class="col-md-2 ">
                    <img class="modal_profile" [src]="verificationOfficer.profilePicture || appUtil.DEFAULT_IMAGE">
                </div>
                <div class="col-md-10 user_details">

                    <div class="row gy-3">
                        <div class="col-md-3 col-sm-6">
                            <h3>User Name</h3>
                            <h4>{{verificationOfficer.firstName+' '+verificationOfficer.lastName}}</h4>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Email</h3>
                            <h4>{{verificationOfficer.email}}</h4>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Phone Number</h3>
                            <h4>{{verificationOfficer.phoneNumber}}</h4>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>LGA Code</h3>
                            <h4>{{verificationOfficer.lgaName}}</h4>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h3>Address</h3>
                            <h4>{{verificationOfficer.address}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Officer_table p-0">
            <div class="d-flex justify-content-between align-items-center position-relative flex-wrap gap-2">
                <h4 class="fs-20 fw-600 dark mb-0">Address Verification Requests</h4>
                <!--Filter options selector start-->
                <div class="filter-box">
                    <div class="select-menu">
                        <div class="select-btn">
                            <span class="sBtn-text">All</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.9655 9.51733L11.9999 14.4829L7.03442 9.51733" stroke="white"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <ul class="options">
                            <li class="option" (click)="getAddressVerificationRequestsByAssignOfficer(status.All)">
                                <span class="option-text">All</span>
                            </li>
                            <li class="option" (click)="getAddressVerificationRequestsByAssignOfficer(status.Verified)">
                                <span class="option-text">Verified</span>
                            </li>
                            <li class="option" (click)="getAddressVerificationRequestsByAssignOfficer(status.Pending)">
                                <span class="option-text">Pending</span>
                            </li>
                            <li class="option" (click)="getAddressVerificationRequestsByAssignOfficer(status.Rejected)">
                                <span class="option-text">Rejected</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Filter options selector end-->
            </div>
        </div>

        <div class="table-pagination page-nav empty" *ngIf="addressVerificationReq.length==0">
            <h4 class="primary mb-0 fs-26 fw-600">No {{selectedStatus=='All'?'':selectedStatus}} Requests </h4>
        </div>
        <!-- pending Address Verification Requests -->
        <div class="table_container table-responsive">
            <div style="overflow-x:auto;" *ngIf="addressVerificationReq.length!=0">
                <table class="table mb-0 admin-table" id="dtHorizontalExample" cellspacing="0" width="100%">
                    <thead>
                        <tr class="table_heading">
                            <th scope="col" class="fs-14 fw-500 theading">AIG Code</th>
                            <th scope="col" class="fs-14 fw-500 theading">Address</th>
                            <th scope="col" class="fs-14 fw-500 theading">Address Type</th>
                            <th scope="col" class="fs-14 fw-500 theading">Verification Record Date Time</th>
                            <th scope="col" class="fs-14 fw-500 theading">Status</th>
                        </tr>
                    </thead>
                    <tbody class="bg_light">
                        <tr *ngFor="let req of addressVerificationReq">
                            <td>
                                <div class="varification_officer">
                                    <h3 class="fs-14 fw-500 info mb-0">{{req.aigCode}}</h3>
                                    <a (click)="navigateToComponent(req.addressId)"
                                        class="fs-10 fw-600 theading border-bottomLine">View
                                        Address Details</a>
                                </div>
                            </td>
                            <td class="fs-14 fw-500 info">
                                <div [ngClass]="{ 'truncate': !(req.id==id) , 'expanded': req.id==id }">
                                    {{ req.address || (req.address.length || 0) <= 91 ? req.address : (req.id !=id ?
                                        (req.address | slice:0:91) + '...' : (req.address )) }}</div>
                                        <a *ngIf="req.address && req.address.length > 91"
                                            class="text-primary d-block mt-1" href="javascript:void(0)"
                                            (click)="setId(req.id)">
                                            {{ (req.id==id ) ? 'Show Less' : 'Show More' }}
                                        </a>
                            </td>

                            <td>
                                <h4 class="fs-14 fw-500 info mb-0 user_address_type"><img class="invert-filter"
                                        [src]="req.addressTypeImage" height="16" width="16">{{req.addressType}}
                                </h4>
                            </td>
                            <td class="fs-14 fw-500 info">{{req.date | date :'dd/MM/yy, h:mm a'}}</td>
                            <td>
                                <!-- <button [ngClass]="req.status == status.Verified ? 'status_btn Verified_btn': req.status == status.Pending ? 'status_btn pending_btn':'status_btn rejected_btn'">{{req.status}}</button> -->
                                <div class="d-flex align-items-center">
                                    <div class="mx_12 varification_officer align-items-center">
                                        <button class="status_btn "
                                            [ngClass]="req.status==status.Verified?'Verified_btn':(req.status==status.Pending?'Pending_btn':'rejected_btn')">
                                            {{req.status==status.Verified?'Verified':(req.status==status.Pending?'Pending':'Rejected')}}</button>
                                        <a (click)="getAddressverificationDetails(req.id)"
                                            *ngIf="req.status==status.Verified || req.status==status.Rejected"
                                            class="fs-10 fw-600 theading mb-0 border-bottomLine ">
                                            View Summary</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example" class="table-pagination"
                    *ngIf="pageManager.totalElements>pageRequest.pageSize">
                    <p class="text_dark fs-16 fw-600 mb-0">Showing {{pageManager.pageNumber*pageManager.pageSize+1}} to
                        {{(pageManager.pageNumber*pageManager.pageSize)+pageManager.numberOfElements_currentPage}} of
                        {{pageManager.totalElements}} entries</p>
                    <ul class="pagination mb-0">
                        <li class="p-2  mx-2 ms-0"><a class="fs-16 fw-500 secondary"
                                [ngClass]="pageManager.first?'theading disable-click ':' cur-point'"
                                (click)="manageNext(false)">Previous</a></li>
                        <li class="page-item" *ngFor="let b of pageManager.showButtons ;" (click)="setPage(b)"><a
                                class="page-link" [ngClass]="pageRequest.pageNo==b-1?'active':''" id="{{b}}"
                                href="javascript:void(0)">{{b}}</a>
                        </li>
                        <li class=""
                            *ngIf="pageManager.totalPages>pageManager.showButtons[pageManager.showButtons.length-1]"><a
                                class="page-link" href="javascript:void(0)"
                                (click)="setPage(pageManager.showButtons[pageManager.showButtons.length-1]+1)">...</a>
                        </li>

                        <li class="p-2  mx-0 ms-2"><a class="fs-16 fw-500 secondary" href="javascript:void(0)"
                                [ngClass]="pageManager.last?'theading disable-click':' cur-point'"
                                (click)="manageNext(true)">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- USER ADDRESS EDIT MODAL -->
<div class="modal fade" id="verificationModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    *ngIf="addressDetails && addressDetails.addressVerificationDetails" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered profile_modal">
        <div class="modal-content">
            <button type="button" class="close_btn d-flex justify-content-end mb-2" data-bs-dismiss="modal"
                aria-label="Close"><i class="fi fi-rr-cross-circle"></i></button>
            <div class=" p-0">
                <div class="Address_Details mb_20">
                    <h5 class="fs-18 fw-500 secondary mb-3">Verification Details</h5>
                    <div class="view-details-grid">
                        <div class="d-flex flex-column justify-content-between ">
                            <img [src]="addressDetails.addressVerificationDetails.propertyImage ||defaultPropertyImage"
                                class="verification_image mb_10">
                            <h4 class="text-center fs-15 fw-500 grey mb-0">Property</h4>
                        </div>

                        <div class="d-flex flex-column justify-content-between "
                            *ngIf="addressDetails.addressVerificationDetails &&  addressDetails.addressVerificationDetails['certificate']">
                            <img [src]="addressDetails.addressVerificationDetails['certificate']"
                                class="verification_image mb_10">
                            <h4 class="text-center fs-15 fw-500 grey mb-0">
                                {{ businessFileTypeMap[addressDetails.addressVerificationDetails.businessFileType] }}
                            </h4>

                        </div>
                        <div class="d-flex flex-column justify-content-between "
                            *ngIf="addressDetails.addressVerificationDetails &&  addressDetails.addressVerificationDetails['ninCard']">
                            <img [src]="addressDetails.addressVerificationDetails['ninCard']"
                                class="verification_image mb_10">
                            <h4 class="text-center fs-15 fw-500 grey mb-0">
                                Nin Card
                            </h4>

                        </div>
                        <div class="d-flex flex-column justify-content-between ">
                            <img [src]="addressDetails.addressVerificationDetails.requestorImage ||defaultImage"
                                class="verification_image mb_10">
                            <h4 class="text-center fs-15 fw-500 grey mb-0">Requestor</h4>
                        </div>
                        <div class="d-flex flex-column justify-content-between ">
                            <div id="map" class="verification_image height mb_10"></div>
                            <h4 class="text-center fs-15 fw-500 grey mb-0">Location map</h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer p-0"
                *ngIf="addressDetails && addressDetails.addressVerificationDetails && addressDetails.addressVerificationDetails.summary">
                <div class="Address_Details col-md-12 m-0">
                    <h5 class="fs-18 fw-500 secondary mb_10">Verification Summary</h5>
                    <div class="Verification_Summary">
                        <h4 class="mb-1 fs-15 fw-50 text_small">Comment</h4>
                        <h5 class="fs-13 fw-500 grey mb-0">{{addressDetails.addressVerificationDetails.summary.comment}}
                        </h5>
                    </div>
                    <div class="view-documents-grid">
                        <div>
                            <img [src]="addressDetails.addressVerificationDetails.summary.propertyImage ||defaultPropertyImage"
                                class="verification_image mb_10">
                            <h4 class="text-center fs-15 fw-500 grey mb-0">Property</h4>
                        </div>
                        <div>
                            <img [src]="addressDetails.addressVerificationDetails.summary.requestorImage ||defaultImage"
                                class="verification_image mb_10">
                            <h4 class="text-center fs-15 fw-500 grey mb-0">Owner</h4>
                        </div>
                        <div>
                            <img [src]="addressDetails.addressVerificationDetails.summary.govtIdImage"
                                class="verification_image mb_10">
                            <h4 class="text-center fs-15 fw-500 grey mb-0">Gov ID</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- USER ADDRESS EDIT MODAL END -->