<form [formGroup]="newPasswordForm" (keyup.enter)="setNewPassword()" class="w-100">
    <div class="login-container mx-auto d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-center">
            <img src="assets/images/svg_img/login-logo.svg" class="img-fluid login_img">
        </div>
        <div class="d-flex flex-column scalable-gap-40-30">
            <div class="d-flex flex-column gap-2">
                <h1 class="fs-22 fw-600 text_small mb-0" id="exampleModalToggleLabel2">New password</h1>
                <h3 class="fs-16 fw-500 info mb-0 login_subtitle">Set a new login password for your account</h3>
            </div>
            <div class="d-flex flex-column scalable-gap-30-22">
                <div>
                    <div class="position-relative">
                        <i class="fi fi-rr-lock input_icons"></i>
                        <input #i1 type="password" class="form-control profile_input px_44" placeholder="New Password"
                            name="newPassword" formControlName="newPassword" [(ngModel)]="forgetPassword.newPassword">
                        <i (click)="changePasswordIcon(i1)"
                            [ngClass]="i1.type==='text'?'fi fi-rr-eye eye_icon':'fi fi-rr-eye-crossed eye_icon'"></i>
                    </div>
                    <div *ngIf="checkFieldValid('newPassword',newPasswordForm)" class="error validation">
                        <p>{{constants.INVALID_FIELD}}</p>
                    </div>
                </div>
                <div>
                    <div class="position-relative">
                        <i class="fi fi-rr-lock input_icons"></i>
                        <input #i2 type="password" class="form-control profile_input px_44"
                            placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword"
                            [(ngModel)]="confirmPassword">
                        <i (click)="changePasswordIcon(i2)"
                            [ngClass]="i2.type==='text'?'fi fi-rr-eye eye_icon':'fi fi-rr-eye-crossed eye_icon'"></i>
                    </div>
                    <div *ngIf="checkFieldValid('confirmPassword',newPasswordForm)" class="error validation">
                        <p>{{constants.INVALID_FIELD}}</p>
                    </div>
                </div>
            </div>
             <button class=" btn-primary  fs-15 fw-600 w-100 m-0 right_menu_toggle" (click)="setNewPassword()" [disabled]="isLoading"> Set Password
            <div class="spinner-border text-light" *ngIf="isLoading" role="status">
                <span class="sr-only"></span>
            </div>
            {{isLoading?'':'Set Password'}}
        </button>
        </div>
    </div>
</form>